= form_for(resource, html: {class: 'general-form'}, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group.mb-30
    -#= devise_error_messages!
    .color-red.text-center= flash[:alert]
    = f.label :email, class: 'control-label input-label'
    - if resource.errors[:email].empty?
      = f.email_field :email, autofocus: true, id: 'email', class: 'form-control', placeholder: 'Enter Email'
    - else
      = f.email_field :email, autofocus: true, id: 'email', class: 'form-control borders-red', placeholder: 'Enter Email'
      = errors_for(:email)

  .form-group.mb-30
    = f.label :password, class: 'control-label input-label'
    - if resource.errors[:password].empty?
      = f.password_field :password, autocomplete: 'off', id: 'password', class: 'form-control', placeholder: 'Password'
    - else
      = f.password_field :password, autocomplete: 'off', id: 'password', class: 'form-control borders-red', placeholder: 'Password'
      = errors_for(:password)

    - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      = link_to 'Forgot your password?', new_password_path(resource_name), class: 'help-block in-gold-500'

  - if devise_mapping.rememberable?
    .form-group.checkbox.text-center.mb-30
      %label.checkbox-label
        = f.check_box :remember_me, class: 'checkbox-input', hidden: 'true'
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text Remember me

  .text-center
    = f.submit 'Log in', class: 'btn btn-default mb-20'