.col-sm-5.col-sm-offset-1
  %p.in-gold-500.font-18.mb-25 Password
  = form_for :user, url: user_registration_path, method: :put,  class: 'general-form-md divider-lg-bottom pb-25' do |f|
    .form-group.mb-30
      = f.label :current_password, 'Old Password', class: 'control-label input-label'
      = f.password_field :current_password, autocomplete: 'off', id: 'oldPassword', class: 'form-control', placeholder: 'Old Password'
    .form-group.mb-30
      = f.label :password, 'New Password', class: 'control-label input-label'
      = f.password_field :password, autocomplete: 'off', id:'password', class: 'form-control', placeholder: 'New Password'
    .form-group.mb-40
      %label.control-label.input-label{for: 'confirmPassword'} Confirm Password
      = f.label :password_confirmation, 'Confirm Password', class: 'control-label input-label'
      = f.password_field :password_confirmation, autocomplete: 'off', id: 'confirmPassword', class: 'form-control', placeholder: 'Confirm Password'
    .general-text-align
      = f.submit 'Save', class: 'btn btn-default mb-10'